.tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 1;
    background-color: #000d1a;
}

body {
    width: 100%;
}

.deprecated {
    text-decoration: line-through;
}

.taskRow {
    opacity: 1;
    transition: 1s opacity;
}

.header {
    margin-right: auto;
    margin-left: 7px;
}

.addTaskBox {
    padding-bottom: 40px;
}

#alertContainer {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

#alertTemplate {
    display: none;
    opacity: 0;
}

#tilesetAlert {
    opacity: 1;
    transition: 1s opacity;
}

#taskStatusContainer {
    opacity: 0;
    position: sticky;
    bottom: 1vh;
    background-color: #002b36;
}