.tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 1;
    background-color: #000d1a;
}

body {
    width: 100%;
}

.deprecated {
    text-decoration: line-through;
}

.taskRow {
    opacity: 1;
    transition: 1s opacity;
}